# {{ ansible_managed }}

when = {{ ninja_when }}

backupname = {{ ninja_backupname }}
backupdir = {{ ninja_backupdir }}

compress = {{ ninja_compress }}

includes = {% if ninja_includes is string %}{{ ninja_includes}}{% else %}{{ ninja_includes | join (" ") }}{% endif %}

excludes = {% if ninja_excludes is string %}{{ ninja_excludes }}{% else %}{{ ninja_excludes | join (" ") }}{% endif %}

DATEFORMAT = %Y.%m.%d
